.code-editor-window * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.code-editor-docked {
  height: auto;
  overflow-y: auto;
  width: 100%;
  display: flex;
}
.code-editor-window-docked {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.code-editor-docked  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.monaco-editor { 
  height: 200px;
}

.code-editor-window {

}

.code-editor-top-panel {
  height: var(--spacing07);
  padding: 0 var(--spacing03);
  display: flex;
  justify-content: flex-end;
  background: var(--colorBg500);
}

.code-editor-bottom-panel {
  height: var(--spacing07);
  padding: 0 var(--spacing03);
  display: flex;
  justify-content: flex-end;
  background: var(--colorBg500);
  align-items: center;
}

.code-editor-wrap {
flex-grow: 1;
flex-shrink: 0;
}

.code-editor-left-panel {
  width: var(--spacing03);
}

.code-editor-icon {
  color: #e5e5e5;
  width: var(--fontSize02);
}

.code-editor-expand-icon {
  color: #e5e5e5;
  width: var(--fontSize02);
  cursor: pointer;
}

.code-editor-floating {
  position: absolute;
}

.code-editor-header-floating {
  cursor: move;
}

.code-editor-resize-area {
  background: red;
}

.editor-icon {
  color: #e5e5e5;
  width: var(--fontSize02);
  font-size: var(--fontSize02);
}

.icon-resize {
  transform: rotate(90deg);
  cursor: nwse-resize;
}
