.code-editor-window * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.code-editor-window .editor-button,
.code-editor-window-docked .editor-button {
  border: none;
  background: none;
}

.code-editor-docked {
  height: auto;
  overflow-y: auto;
  width: 100%;
  display: flex;
}
.code-editor-window-docked {
  height: 100%;
  width: 100%;
}

.code-editor-window {
  box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.25);
}

.code-editor-top-panel {
  height: var(--spacing07);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: var(--colorBg500);
}

.code-editor-bottom-panel {
  height: var(--spacing07);
  display: flex;
  justify-content: space-between;
  background: var(--colorBg500);
  align-items: center;
  padding: 0 0 0 var(--spacing02);
}

.code-editor-left-panel {
  width: var(--spacing03);
}

.code-editor-icon {
  color: #e5e5e5;
  width: var(--fontSize02);
}

.code-editor-expand-icon {
  color: #e5e5e5;
  width: var(--fontSize02);
  cursor: pointer;
}

.code-editor-header-floating {
  cursor: move;
}

.editor-icon {
  color: #e5e5e5;
  font-size: var(--fontSize02);
}

.icon-resize {
  transform: rotate(90deg);
}

.editor-button {
  height: 100%;
  width: var(--spacing05);
  padding: 0;
  margin: 0;
}
.editor-button:hover {
  cursor: pointer;
}

.editor-button:hover {
  background: var(--colorBg600);
}

.editor-button svg {
  width: 20px;
  font-size: 20px;
}

.button-primary {
  padding: var(--spacing02);
  background: var(--colorPrimary500);
  font-weight: 500;
  color: white;
  border: none;
}

.button-primary:hover {
  cursor: pointer;
  background: var(--colorPrimary600);
}

.button-primary-bottom-panel {
  margin-right: var(--spacing02);
}

.editor-button-resize {
  height: 100%;
}

.editor-button-text {
  display: flex;
  align-items: center;
  padding: var(--spacing02);
  background: none;
  color: rgb(162, 162, 162);
  font-weight: 500;
  border: 1px solid rgb(165, 165, 165);
  margin-right: var(--spacing02);
}

.editor-button-text:hover {
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.editor-button-text svg {
  margin-left: var(--spacing02);
}

.editor-button-resize:hover {
  cursor: nwse-resize;
}
