:root {
  --spacing01: 0.25rem;
  --spacing02: 0.5rem;
  --spacing03: 1rem;
  --spacing04: 1.5rem;
  --spacing05: 2rem;
  --spacing06: 2.5rem;
  --spacing07: 3rem;
  --spacing08: 3.5rem;

  --fontSize01: 0.25rem;
  --fontSize02: 1rem;
  --fontSize03: 1.5rem;

  --formElementBaseHeight: 3rem;

  --colorBg500: #28282a;
  --colorBg600: #1e1e1f;

  --colorPrimary500: #007acc;
  --colorPrimary600: #006eb8;
}
